@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

html, body {
    font-family: "Roboto";
    font-weight: 300;
    @apply bg-body text-white;
}

* {
    outline: none !important;
}

@layer components {
    .swiper-pagination-1, .swiper-pagination-2, [class*="swiper-pagination-3"]  {
        position: absolute;
        display: flex !important;
        flex-direction: column;
        top: 50% !important;
        left: auto !important;
        width: auto !important;
        right: 0 !important;
        transform: translateY(-50%) !important;
    }

    .pagination-item, .swiper-pagination-bullet, .swiper-pagination-bullet-active-next-next {
        transform: scale(1) !important;
        width: 40px !important;
        height: 40px !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        margin: 2px 0;
        color: #ffffff !important;
        opacity: 1 !important;
        font-size: 30px !important;
        font-weight: 500;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .pagination-item:hover, .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active-next-next:hover {
        color: #786AF7;
        cursor: pointer;
    }

    .swiper-pagination-bullet-active {
        background-color: #786AF7 !important;
    }

    @screen sm {
        .pagination-item {
            width: 56px !important;
            height: 56px !important;
            font-size: 40px !important;
        }
    }
}

.container {
    @apply px-2.5;

    @screen sm {
        @apply px-0;
        max-width: 640px;
    }
    @screen lg {
        @apply px-0;
        max-width: 900px;
    }
    @screen xl {
        @apply px-0;
        max-width: 1400px;
    }
}

.menu-container {
    @apply px-2.5;

    @screen sm {
        @apply px-0 mx-auto;
        max-width: 640px;
    }
    @screen lg {
        @apply max-w-full;
    }
}

.grid-block {
    @screen sm {
        @apply grid grid-cols-2 gap-x-8;
    }
    @screen lg {
        @apply grid grid-cols-2 gap-x-20;
    }
    @screen xl {
        @apply grid grid-cols-2 gap-x-10;
    }
}

.title-block {
    @apply text-2xl font-bold leading-115;

    @screen sm {
        @apply text-3xl font-bold leading-115;
    }
    @screen lg {
        @apply text-4xl font-bold leading-115;
    }
    @screen xl {
        @apply text-4xl font-bold leading-115;
    }
}

.title {
    @apply text-3xl font-bold mb-10 leading-130;

    @screen sm {
        @apply text-4xl font-bold mb-10 leading-130;
    }
    @screen lg {
        @apply text-6xl font-bold mb-16 leading-130;
    }
    @screen xl {
        @apply text-7xl font-bold mb-20 leading-130;
    }
}
.main-title {
    @apply text-4xl font-bold leading-115;

    @screen sm {
        @apply text-6xl font-bold leading-115;
    }
    @screen lg {
        @apply text-7xl font-bold leading-115;
    }
    @screen xl {
        @apply text-8xl font-bold leading-115;
    }
}
.section-padding {
    @apply py-12;

    @screen sm {
        @apply py-20;
    }
    @screen lg {
        @apply py-24;
    }

    @screen xl {
        @apply py-32;
    }
}

.wrap-padding {
    @apply pt-32 pb-12;

    @screen sm {
        @apply pt-40 pb-20;
    }
    @screen lg {
        @apply pt-48 pb-24;
    }
    @screen xl {
        @apply pt-48 pb-36 ;
    }
}
